.container{
    background-color: #352B34;
    height: max-content;
    width: 100%;
    padding:0 5rem 0 5rem;
    border-top: #DD5060;
    border-style: solid;
}

.container h1{
    font-size: large;
    color: white;
}

.container p{
    font-size: small;
    color:white
}

.footerItems{
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-evenly;
}

.footerItems p{
    cursor: pointer;
}

@media screen and (max-width:600px) {
    
    .container{
        width: 90%;
        padding:0 1rem 0 1rem;
    }

    .container h1{
        font-size: medium;
    }
    
    .container p{
        font-size: 11px;
    }

    .footerItems{
        width: 90%;
    }

}